/.upload
/.DS_Store
*.pyc
*.pyo
__pycache__/
*.db
*.sqlite3
*.log
*.env
*.venv
*.egg-info/
*.idea/
*.vscode/
*.pytest_cache/
*.coverage
*.mypy_cache/
*.pyd
*.pyo
*.pdb
*.swp
*.swo
*.bak
*.tmp
*.orig
*.myenv/*